<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Django Level Two </title>
        <link rel="stylesheet" href="{% static "static/first_app/css/style.css" %}" media="screen" title="no title"  charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1> Hi welcome to Django Level Two! </h1>
        <h2> here are your access records: </h2>

        <div class='djangtwo'>
        {% if access_records %}
            <table class="table table-dark">
                <thead>
                    <th scope="col"> Site Name </th>
                    <th scope="col"> Date Accessed </th>
                </thead>

                {% for acc in access_records %}
                <tr>
                    <td scope="row"> {{ acc.name }} </td>
                    <td scope="row"> {{ acc.date }} </td>
                </tr>

                {% endfor %}
            </table>

            {% else %}
                <p> NO access Records Found! </p>
            {% endif %}
        </div>

    </body>
</html>